# Entorno virtual
rangoenv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Archivos de configuración local
.env
.venv
env/
venv/
ENV/

# Archivos de IDE
.vscode/
.idea/

# Archivos de Django
*.log
*.pot
*.py[co]